name: "CD Pipeline"

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types: [completed]

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: AWS Configure
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to all ec2 in asg using ssm
        run: |
          echo "Pulling the image and deploying it in the container"

          ASG_NAME=$(aws autoscaling describe-auto-scaling-groups --query "AutoScalingGroups[0].AutoScalingGroupName" --output text)

          INSTANCE_IDS=$(aws autoscaling describe-auto-scaling-groups \
            --auto-scaling-group-names $ASG_NAME \
            --query "AutoScalingGroups[].Instances[].InstanceId" \
            --output text)

          echo "Found instances: $INSTANCE_IDS"

          if [ -z "$INSTANCE_IDS" ]; then
            echo "No running instances found in ASG"
            exit 1
          fi
          echo "Deploying container to all instances via SSM..."

          aws ssm send-command \
            --instance-ids $INSTANCE_IDS \
            --document-name "AWS-RunShellScript" \
            --comment "Deploy latest Docker image" \
            --parameters '{"commands":[
              "sudo -u dockeruser docker pull '${{ secrets.DOCKER_USERNAME }}'/springboot-sredemo:${{ github.event.workflow_run.head_branch }}",
              "sudo -u dockeruser docker stop springboot-sredemo || true",
              "sudo -u dockeruser docker rm springboot-sredemo || true",
              "sudo -u dockeruser docker run -d \
                --name springboot-sredemo \
                -e SPRING_DATASOURCE_URL=\"jdbc:mysql://'${{ secrets.DB_IP }}':3306/sredemo\" \
                -e SPRING_DATASOURCE_USERNAME=\"root\" \
                -e SPRING_DATASOURCE_PASSWORD=\"root\" \
                -p 8081:8082 \
                '${{ secrets.DOCKER_USERNAME }}'/springboot-sredemo:${{ github.event.workflow_run.head_branch }}"
            ]}' \
            --region ${{ secrets.AWS_REGION }}