name: 'CI Pipeline'

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'

jobs:
  build_artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses:  actions/checkout@v5
      
      - name: Install Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      
      - name: Build Maven Package
        run: mvn clean package

      - name: AWS Configure
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
        
      - name: Build docker image
        run: docker build -t springboot-sredemo:latest

      - name: Push image to docker registry
        id: push-to-docker-hub
        env:
          IMAGE_TAG: ${{ github.ref_name }}
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PERSONAL_ACCESS_TOKEN }}
          echo $IMAGE_TAG
          docker tag springboot-sredemo:latest ${{ secrets.DOCKER_USERNAME }}/springboot-sredemo:$IMAGE_TAG
          docker push ${{ secrets.DOCKER_USERNAME }}/springboot-sredemo:$IMAGE_TAG

      # - name: Push to S3
      #   env:
      #     TAG: ${{ github.ref_name }}
      #   run: |
      #     aws s3 cp target/*.war s3://${{ secrets.S3_BUCKET_NAME }}/sredemo-$TAG.war